.testimonialrotator{
    position:relative;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.testimonialrotator .testimonial{
    position:absolute;
    top:0;
    left:0;
    display:none;
    text-align: justify;
}
.testimonialrotator .testimonial:first-child{  position:relative; display:block; }
.testimonial span {
    font-size: 1em;
    font-family: "Courier New", Arial;
    font-style: italic;
    line-height:1em;
    color:#666;
    font-weight: bold;
}
.testimonial .the-author {
    font-size: 1em;
    font-family: "Courier New", Arial;
    font-style: italic;
    color:#999;
    margin-top:10px;
    font-weight: bold;
}