*{
margin:0;
padding:0;
}

body{
    font-family: "Montserrat",sans-serif;
    background-color: aliceblue;
}
.card-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    perspective: 1000px;
}
.card{
    width:550px;
    height:300px;
    background-color: black;
    transform-style: preserve-3d ;
    position: relative;
    transition:transform 1s;
}

.card-wrapper:hover .card{
   
}
.card-front,
.card-back{
    width:100%;
    height:100%;
    backface-visibility: hidden;
   
}
.card-front{
    display:flex ;
    background: linear-gradient(
    100deg,
    rgb(38,38,38) 40%,
    rgb(255,255,255) 0
    );
}
.left{
    width: 40%;
   display: flex;
   flex-direction: column;
   justify-content: center;
align-items: center;
}

.left img{
    width: 80%;
}
.left h4{
    margin: 10px;
    font-size: 18px;
    letter-spacing: 1px;
}
.left span{
    text-transform: uppercase;
 color: blue;
}
.right{
    width:60%;
    color:white;
}
.right-content{
    display: flex;
    align-items: center;
    margin:20px 0;

}
.person{
    background-color: #1187ac;
    padding: 5px 0 5px 30px ;
    margin: 30px 0;
     box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.right-content i{
    width:35px;
    height:35px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-right: 20px;
}
.person h4{
    text-transform: uppercase;
}
.phone{
    padding-left: 30px;

}
.email{
    padding-left: 20px;
}
.address{
    padding-left: 10px;
}
.card-back{
    transform: rotateY(180deg);
    position: absolute;
    top:0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card-back img{
    width: 40%;
}