#popUpMain{
    position: fixed;
    width: 100%;
    height: 100%;
  
    background: rgba(0,0,0,0.6);
    z-index: 1001;
    font-family: 'Slabo 20px', serif;
}
#popup{
    width: 350px;
    height: 130px;

    background-color:rgba(0,0,0,0.7);
    background-size: cover;
    position: absolute; 
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 2px 5px #011319;
    text-align: center;
    border-radius:20px;
}
#newsHeading{
    color:white;
    font-family: 'Slabo 20px', serif;
    font-size: 20px;
    margin-top:20px;
}

.submitId{
    background-color: #0fc0fa;
    border:none;
    font-size: 1rem;
    margin-top:12px;
    padding: 0.4rem 2rem;
	border-radius:1rem;
	margin-right:1rem;
	margin-left:1rem;
    color:white;
    font-family: 'Slabo 27px', serif;
}
.submitId:hover {
	background-color: #0484af;
	
}
