*{
    margin: 0;
    padding: 0;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;

}
a{
    text-decoration: none;
}
.team-member{
    border: 1px solid rgba(42, 175, 192, 0.3);
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    margin-bottom: 50px;
}
.team-member .mem-img img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    float: left;
    border: 5px solid #fff;
    outline: 0;
    vertical-align: middle;
    margin: 0;
}
.team-member .info{
    margin-left: 200px;
    padding: 15px 15px 15px 0;
}
.team-member .info h2{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.team-member .info span{
    font-size: 14px;
    margin-bottom: 10px;
    color: #2aafc0;
}
.team-member .info p{
    margin: 10px 0;
    font-size: 15px;
    font-weight: 300;
    color: #7f7f7f7f;
    line-height: 1.6;
}
.team-member .icons .icon i{
    margin: 5px 10px;
    color: #333;
}
.team-member:hover{
    background: linear-gradient(to right, #2AAFC0, #6976c5);
    color: #fff;
}
.team-member:hover span{
    color: #fff;
}
.team-member:hover p{
    color: #ccc;
}
.team-member:hover .icons .icon i{
    color: #fff;
}
.team-member:hover img{
    border-color: #2AAFC0;
}

@media only screen and (max-width: 780px) {
    img{
        padding: 15px 10px 10px 0;
    }
}
@media screen and (max-width: 700px) {

  
    .team-member {
      text-align: center;
      padding: 20px;
    }
    .team-member .mem-img img {
      float: none;
      width: 170px;
      height: 170px;
      margin: auto;
      padding: 0ch;
    }
    .team-member .info {
      margin-top: 30px;
      margin-left: 0;
    }
}