body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
#people-view{
    background:linear-gradient(to bottom left,black,black,black,darkblue);
    width:100%;
    color:white;
    margin-bottom:-3%;
    padding-top:15px;
}
#people-view h2{
    padding-top:5%;
    text-decoration:underline;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom:10px;
}
.testimonial-views .row{
    margin-top:5%;
    padding-bottom:5%;
}
.testimonial-views .people-image img{
    height:150px;
    width:150px;
    border:2px solid white;
    transform:rotate(45deg);
    margin-bottom:12%;
    margin-top:10%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    transition:0.5s;
}
.testimonial-views .people-image img:hover{
    transform:translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}
